.main-frame {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5rem;
}

.background-img {
  position: absolute;
  z-index: -1;
  opacity: 0.3;

  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.letters-area {
}

.clue-area {
  font-size: large;
  font-weight: 900;
  text-align: center;
  white-space: pre-wrap;
}
